<h1>Milkshakes#index</h1>
<p>Find me in app/views/milkshakes/index.html.erb</p>
<div class="cards">
  <% @milkshakes.each do |milkshake| %>
    <div class="card">
      <%= link_to milkshake.name, milkshake_path(milkshake) %>
    </div>
    <% end %>
</div>